html {
    position: relative;
    min-height: 100%;
    overflow-y: scroll; /* removes content offset if scrollbar is showed */
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
}

.footer {
    position: absolute;
    padding: 15px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;
    background-color: #f5f5f5;
}

.main {
    padding: 40px 15px;
}

.navbar-static-top {
    margin-bottom: 19px;
}

#exit-icon {
    padding-left: 2px;
}

.pagination {
    margin-top: 0px;
}

#small-icon {
    font-size: 10px;
}

.modal-open {
    overflow: auto;
    /* against to body shifted then modal opened */
    padding-right: 0px !important; 
}

@media screen and (max-width: 1023px) {
    body {
        font-size: 12px;
    }
    h4 {
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 10px;
    }
    h4 {
        font-size: 10px;
    }
}

.category-icon {
    margin-right: 10px;
}

.number-input {
    width: 180px !important;
}

.text-area {
    resize: vertical;
}

.panel-heading-element {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

/*
    Original version: http://www.bootply.com/128062
    
    This version adds support for IE 10+ and Firefox.
*/

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}