<div class="well well-sm"><h4>Заявка на конкурс <a href="{{ url('competition_view', args=[application.competition.id, application.competition.slug]) }}">{{ application.competition.name }}</a></h></div>