{% extends "base.html" %}
{% block title %}ЦСП УГТУ - Конкурсы{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block navbar %}
    {{ super() }}
{% endblock navbar %}

{% block content %}

<div class="container">
{% block navpills %}
    {{ super() }}
{% endblock navpills %}
    {% include "includes/application_header.html" %}
    <div class="row">
        <div class="col-md-3">
            {% include "application_categories.html" %}
        </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <p>Страница заявки</p>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}