{% extends "base.html" %} {% block title %}ЦСП УГТУ - Конкурсы{% endblock %} {% block head %} {{ super() }} {% endblock head
%} {% block navbar %} {{ super() }} {% endblock navbar %} {% block content %}

<div class="container">
    {% block navpills %} {{ super() }} {% endblock navpills %} {% include "includes/application_header.html" %}
    <div class="row">
        <div class="col-md-3">
            {% include "application_categories.html" %}
        </div>
        <div class="col-md-9">
            {% if messages %} {% set message = messages | first %}
            <div class="panel panel-{{ message.tags }}">
                <div class="panel-heading">
                    <strong>{{ message }}</strong>
                </div>
            </div>
            {% else %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="text-muted">Список комментариев к заявке</span>
                </div>
            </div>
            {% endif %}
            {% for comment in comments %}
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <span>{{ comment.user.short_name }}</span>
                    <div class="btn-group pull-right">
                        <small>
                            <a class="text-muted panel-heading-element" disabled data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-edit"></span> Изменить</a></span>
                            <a class="text-muted panel-heading-element" disabled data-toggle="modal" data-target="#"><span class="glyphicon glyphicon-trash"></span> Удалить</a></span>
                            <span class="text-muted panel-heading-element" title="Дата создания"><span class="glyphicon glyphicon-time"></span> {{ comment.created_at.replace(microsecond=0) }}</span>
                        </small>
                    </div>
                </div>
                <div class="panel-body">
                    <div style="white-space:pre-line;">{% if comment.is_deleted %}<i>Комментарий удален</i>{% else %}{{ comment.text }}{% endif %}</div>
                    {% if comment.created_at.replace(minute=0, second=0, microsecond=0) != comment.updated_at.replace(minute=0, second=0, microsecond=0) %}
                    <small><span class="text-muted pull-right">Последнее изменение: {{ comment.updated_at.replace(microsecond=0) }}</span></small>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="text-muted">Новый комментарий</span>
                </div>
                <div class="panel-body">
                    <form action="{{ request.path }}" method="POST">
                        <div class="form-group">
                            <textarea class="form-control text-area" name="comment_text" required></textarea>
                        </div>
                </div>
                <div class="panel-footer">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="submit" name="submit_new" class="btn btn-primary" value="Добавить">
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /.container -->
{% endblock content %} {% block footer %} {{ super() }} {% endblock footer %} {% block scripts %} {{ super() }} {% endblock
scripts %}