{% extends "base.html" %}
{% block title %}ЦСП УГТУ - Конкурсы{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block navbar %}
    {{ super() }}
{% endblock navbar %}

{% block content %}

<div class="container">
{% block navpills %}
    {{ super() }}
{% endblock navpills %}
    {% include "includes/application_header.html" %}
    <div class="row">
        <div class="col-md-3">
            {% include "application_categories.html" %}
        </div>
        <div class="col-md-9">
            {% if messages %}
            {% set message = messages | first %}
            <div class="panel panel-{{ message.tags }}">    
                <div class="panel-heading">
                    <strong>{{ message }}</strong>
                </div>
            {% else %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="text-muted">{{ current_category.name }}</span>
                </div>    
            {% endif %}
                <div class="panel-body">
                    <form class="form-horizontal" method="POST" action="{{ request.path }}">
                        {% for field in form_fields %}
                            {% include "includes/fields/" + field.type + ".html" with context %}
                            {% if loop.index != form_fields | length %}
                                <hr>
                            {% endif %}
                        {% endfor %}
                    </div>
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <div class="panel-footer">
                            <input type="submit" class="btn btn-success" value="Сохранить">
                        </div>
                    </form>
                
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}