<div class="list-group">
    {% set href_application_main = url('application_view', args=[application.id]) %}
    <a class="list-group-item {% if request.path  == href_application_main %} active {% endif %}" 
        href="{{ href_application_main }}"><span class="glyphicon glyphicon-home category-icon" style="margin-right: 10px;"></span> Главная</a>
    
    {% set href_application_users = url('application_members_view', args=[application.id]) %}
    <a class="list-group-item {% if request.path  == href_application_users %} active {% endif %}" 
        href="{{ href_application_users }}"><span class="glyphicon glyphicon-user category-icon"></span> Участники</a>
    
    {% set href_application_comments = url('application_comments_view', args=[application.id]) %}
    <a class="list-group-item {% if request.path  == href_application_comments %} active {% endif %}" 
        href="{{ href_application_comments }}"><span class="glyphicon glyphicon-comment category-icon"></span> Комментарии<span class="badge">{{ comments_amount }}</span></a>
    
    <a class="list-group-item disabled" 
        href="#"><span class="glyphicon glyphicon-print category-icon"></span> Печатная версия</span></a>
    
</div>
<div class="list-group">
    {% for fieldset in fieldsets %}
        {% set href_fieldset = url('application_fieldset_view', args=[application.id, fieldset.id, fieldset.category.slug]) %}
        <a class="list-group-item {% if request.path == href_fieldset %} active {% endif %}"
            href="{{ href_fieldset }}"
            ><span class="{{ fieldset.icon }} category-icon"></span> {{ fieldset.category.name }}</a>
    {% endfor %}
</div>