{% extends "base.html" %} {% block title %}ЦСП УГТУ - Конкурсы{% endblock %} {% block head %} {{ super() }} {% endblock head
%} {% block navbar %} {{ super() }} {% endblock navbar %} {% block content %}

<div class="container">
    {% block navpills %} {{ super() }} {% endblock navpills %} {% include "includes/application_header.html" %}
    <div class="row">
        <div class="col-md-3">
            {% include "application_categories.html" %}
        </div>
        <div class="col-md-9">
            {% if messages %}
            {% set message = messages | first %}
            <div class="panel panel-{{ message.tags }}">
                <div class="panel-heading">
                    <strong>{{ message }}</strong>
                </div>

                {% else %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span class="text-muted">Список участников</span>
                    </div>

                    {% endif %}
                    {% if members %}
                    <div class="panel-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width:85%">Пользователь</th>
                                    <th style="width:10%">Роль</th>
                                    <th style="width:5%"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for member in members %}
                                {% if request.user.id == member.user.id %}
                                <tr title="Вы">
                                    <td><span class="text-info"> {{ member.user.full_name}}</span></td>
                                    <td><span class="text-info">{{ member.role_display }}</span></td>
                                    <td></td>
                                </tr>
                                
                                {% else %}
                                <tr>
                                    <td>{{ member.user.full_name}}</span></td>
                                    <td>{{ member.role_display }}</td>
                                    <td>{% if is_author %}<a class="text-muted"
                                        data-toggle="modal" data-target="#remove-member-modal"
                                        data-id="{{ member.id }}"><span class="glyphicon glyphicon-remove"></span></a></span>{% endif %}</td>
                                </tr>
                                
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                    {% if is_author %}
                    <div class="panel-footer">
                        <form action="{{ request.path }}" method="POST">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <a data-toggle="modal" data-target="#add-member-modal" name="submit_new" class="btn btn-primary">Добавить</a>
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add-member-modal -->
<div class="modal fade" id="add-member-modal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel panel-info">
                    <div class="panel-heading clearfix">
                        <div class="input-group">
                            <input type="text" id="user-name" class="form-control" placeholder="Иванов Иван" required pattern="[a-zA-Zа-яА-Я]*">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-block" type="button" onclick="searchButtonCallback()" id="button-search"><span class="glyphicon glyphicon-search" id="button-search-icon"></span> Поиск</button>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table id="result-users" class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width:50%">Пользователь</th>
                                    <th style="width:25%"></th>
                                    <th style="width:25%">Выбрать роль</th>
                                </tr>
                            </thead>
                            <tbody style="min-height: 1240px;"></tbody>
                        </table>
                    </div>
                    <div class="panel-footer">
                            <label for="user-email">Отправить приглашение на email:</label>
                        <div class="input-group">
                            
                            <input type="email" id="user-email" class="form-control" placeholder="example@gmail.com">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button" onclick="addMemberButtonCallback"><span class="glyphicon glyphicon-envelope"></span> Отправить</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.add-member-modal -->
<!-- remove-member-modal -->
<div class="modal fade" id="remove-member-modal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-body">
                <center>
                    <p>Удалить пользователя из списка участников?</p>
                    <form action="{{ request.path }}" method="POST">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <input type="hidden" name="member_id" id="input-member-id">
                        <button type="submit" class="btn btn-info" style="padding-left: 20px; padding-right: 20px; margin-left: -10px;">Да</button>
                        <button type="button" class="btn btn-default" style=" padding-left: 20px; padding-right: 20px; margin-left: 20px;" data-dismiss="modal">Нет</button>
                    </form>
                </center>
            </div>
        </div>
    </div>
</div>
<!--/.remove-member-modal -->
<!-- /.container -->
{% endblock content %}
{% block footer %}
{{ super() }}
{% endblock footer %}
{% block scripts %}
{{ super() }}
<script>
    
    $(document).ready(function(){
        $('#remove-member-modal').on('show.bs.modal', function(e){
            memberID = $(e.relatedTarget).attr('data-id')
            $('#input-member-id').val(memberID)
        })
    })

    function addMember(event) {
        params = event.target.id.split('-')
        user_id = params[1]
        role = params[2]
        
        $.ajax({
            url: "{{ url('members_ajax_view') }}",
            type: "POST",
            data: {
                'user_id': parseInt(user_id),
                'role': role,
                'application_id': parseInt("{{ application.id }}"),
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            },
            success: function(response) {
                console.log(response)
                window.location.reload()
            },
            error: function(response) {
                console.log(response);
                window.location.reload()
            }
        })
    }

    // global variables for save previos button state (i dont know javascript OOP, sorry)
    var prevButtonID, prevButtonText = null
    const BTN_DEFAULT_STATE = 0, BTN_CONFIRMATION_STATE = 1

    function setPrevButton(id, text) {
        prevButtonID = id
        prevButtonText = text
    }

    function getPrevButtonID() {
        return prevButtonID
    }

    function getPrevButtonText() {
        return prevButtonText
    }
    
    function changeAddMemberButtonState(id, state) {
        function changeButton(id, text, cssClass) {
            $("#" + id).html(text)
            $("#" + id).removeClass().addClass(cssClass)
        }
        switch (state) {
            case BTN_CONFIRMATION_STATE:
                changeButton(id, "Подтвердить", "btn btn-warning btn-sm btn-block")
                break;
            case BTN_DEFAULT_STATE:
                changeButton(id, getPrevButtonText(), "btn btn-default btn-sm btn-block")
                break;
            default:
                break;
        }
    }

    function addMemberButtonCallback(event) {
        if (getPrevButtonID() === event.target.id) {
            addMember(event)
            return
        }

        if (getPrevButtonID() !== null) {
            changeAddMemberButtonState(getPrevButtonID(), BTN_DEFAULT_STATE)
        }
        
        setPrevButton(event.target.id, $("#" + event.target.id).html())
        changeAddMemberButtonState(event.target.id, BTN_CONFIRMATION_STATE)
    }

    function renderResultUsersTable(users) {
        console.log(users)
        $("#result-users tbody").remove()
        for(let i = 0; i != users.length; i++) {
            coauthorButton = `<button class="btn btn-default btn-sm btn-block" type="button" id="btn-${users[i].id}-coauthor" onclick="addMemberButtonCallback(event)"><span class="glyphicon glyphicon-user"></span> Соавтор</button`;
            curatorButton  = `<button class="btn btn-default btn-sm btn-block" type="button" id="btn-${users[i].id}-curator" onclick="addMemberButtonCallback(event)"><span class="glyphicon glyphicon-user"></span> Куратор</button`;
            $("#result-users").append(`<tr><td>${users[i].full_name}</td><td>${coauthorButton}</td><td>${curatorButton}</td></tr>`)
        }
    }

    function enableSearchButtonLoadingState() {
        $('#button-search-icon').removeClass().addClass("glyphicon glyphicon-refresh glyphicon-refresh-animate")
        $('#button-search').prop("disabled", true)
    }

    function disableSearchButtonLoadingState() {
        $('#button-search-icon').removeClass().addClass("glyphicon glyphicon-search")
        $('#button-search').prop("disabled", false)
    }

    function searchButtonCallback() {
        enableSearchButtonLoadingState()
        name = $('#user-name').val()
        $.ajax({
            url: "{{ url('users_ajax_view') }}"+"?name="+name,
            type: "GET",
            success: function(response) {
                disableSearchButtonLoadingState()
                renderResultUsersTable(response)
            },
            error: function(response) {
                disableSearchButtonLoadingState()
                console.log(response);
            }
        })
    }
</script>
{% endblock scripts %}