{% extends "base.html" %}

{% block content %}
<h1>Home page</h1>
<p>Hello, {{ user.full_name }}!</p>
<p>Last login: {{ user.last_login }}</p>
<a href="{{ url('home_view') }}">home</a>
<br>
<a href="{{ url('login_view') }}">login</a>
<br>
<a href="{{ url('registration_view') }}">registraion</a>
<br>
<a href="{{ url('logout_view') }}">logout</a>
{% endblock %}