<!-- Centered Pills -->
<ul class="nav nav-pills ">
    <li>
        <a href="#">
            <span class="glyphicon glyphicon-dashboard"></span> Обзорная панель</a>
    </li>
    {% set href_competitions = url('management_competitions_view') %}
    <li class="dropdown {% if request.path == href_competitions %} active {% endif %}">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-th-list"></span>
            </span> Конкурсы
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="{{ href_competitions }}?option=actual">
                    <span class="glyphicon glyphicon-list-alt"></span> Список конкурсов</a>
            </li>
            <li>
                <a href="{{ href_competitions }}?option=archive">
                    <span class="glyphicon glyphicon-plus-sign"></span> Добавить</a>
            </li>
        </ul>
    </li>
    {% set href_applications = url('management_applications_view') %}
    <li class="{% if request.path == href_applications %} active {% endif %}">
        <a href="{{ href_applications }}">
            <span class="glyphicon glyphicon-file"></span> Заявки</a>
    </li>
    <li>
        <a href="#">
            <span class="glyphicon glyphicon-folder-open" style="margin-right: 2px;"></span> Проекты</a>
    </li>
    <li>
        <a href="#">
            <span class="glyphicon glyphicon-user" style="margin-right: 2px;"></span> Пользователи</a>
    </li>
    <li>
        <a href="#">
            <span class="glyphicon glyphicon-stats" style="margin-right: 2px;"></span> Статистика</a>
    </li>
</ul>
<br>
<!-- /.Centered Pills -->
