{% extends "management_base.html" %}
{% block title %}ЦСП УГТУ - Конкурсы{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block management_navbar %}
    {{ super() }}
{% endblock management_navbar %}

{% block content %}
<div class="container">
    {% block management_navpills %}
    {{ super() }}
    {% endblock management_navpills %}
    <!-- /.Centered Pills -->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading clearfix">
            <h4 class="pull-left">Актуальные конкурсы</h4>
            <div class="dropdown pull-right">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        <span>Все категории</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">
                            Показать категорию
                        </li>
                        <li>
                            <a href="#">Все</a>
                        </li>
                        <li>
                            <a href="#">Технические</a>
                        </li>
                        <li>
                            <a href="#">Гуманитарные</a>
                        </li>
                    </ul>
                </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width:1%">№</th>
                        <th style="width:63%">Наименование
                            <a href="#">
                                <span class="glyphicon glyphicon-sort" id="small-icon" title="Отсортировать по наименованию"></span>
                            </a>
                        </th>
                        <th style="width:12%">
                            Категория
                        </th>
                        <th style="width:12%">Старт
                            <a href="#">
                                <span class="glyphicon glyphicon-sort" id="small-icon" title="Отсортировать по дате начала"></span>
                            </a>
                        </th>
                        <th style="width:12%">Окончание
                            <a href="#">
                                <span class="glyphicon glyphicon-chevron-up" id="small-icon" title="Отсортировать по дате окончания"></span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for competition in competitions %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="{{ url('competition_view', args=[competition.id, competition.slug]) }}" title="{{ competition.brief_description }}">{{ competition.name }}</a></td>
                        <td>{{ competition.category.name }}</td>
                        <td title="15.01.2018 10:00">{{ competition.start_time }}</td>
                        <td title="28.01.2018 16:00">{{ competition.end_time }}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>

        <div class="panel-footer clearfix">
            <div class="dropdown pull-left">
                    Всего записей: 3 
                    <br>
                    Показывать по
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    <span>10 записей</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Показать на странице</li>
                    <li>
                        <a href="#">10 записей</a>
                    </li>
                    <li>
                        <a href="#">25 записей</a>
                    </li>
                    <li>
                        <a href="#">50 записей</a>
                    </li>
                </ul>
            </div>
            <ul class="pagination pull-right hidden-xs">
                <li class="disabled">
                    <a href="#">Назад</a>
                </li>
                <li class="disabled">
                    <a href="#">Далее</a>
                </li>
            </ul>
            <ul class="pagination pull-right visible-xs">
                <li class="disabled">
                    <a href="#">«</a>
                </li>
                <li class="disabled">
                    <a href="#">»</a>
                </li>
            </ul>
        </div>

    </div>

</div>
<!-- /.container -->
{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}