<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">

            <a class="navbar-brand" href="#">
                <b>ЦСП УГТУ Административная панель</span></b> 
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" title="Перейти в личный кабинет">Коробейников В. И.</a>
                </li>
                <li>
                    <a title="Выход" data-toggle="modal" data-target="#exit-modal">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>

                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<!-- /.Navbar -->
<!-- exit-modal -->
<div class="modal fade" id="exit-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <center>
                    <p>Вы действительно хотите выйти?</p>
                        <button type="button" class="btn btn-info" style="padding-left: 20px; padding-right: 20px; margin-left: -10px;">Да</button>
                        <button type="button" class="btn btn-default" style=" padding-left: 20px; padding-right: 20px; margin-left: 20px;" data-dismiss="modal">Нет</button>
                </center>
            </div>
        </div>
    </div>
</div>
<!--/.exit-modal -->