<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ static('csp/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static('csp/index.css') }}">
    <link rel="stylesheet" href="{{ static('csp/management.css') }}">

    <title>{% block title %}{% endblock %}</title>

    {% endblock head %}
</head>
<body style="background-color: #FAFAFA">
    {% block management_navbar %}
        {% include "management_navbar.html" %}
    {% endblock management_navbar %}
    
    {% block content %}
        {% block management_navpills %}
            {% include "management_navpills.html" %}
        {% endblock management_navpills %}
    {% endblock content %}

    {% block footer %}
        {% include "footer.html" %}
    {% endblock footer %}

    {% block scripts %}
        {% include "scripts.html" %}
    {% endblock scripts %}
</body>
</html>