{% extends "management_base.html" %}
{% block title %}ЦСП УГТУ - Конкурсы{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block management_navbar %}
    {{ super() }}
{% endblock management_navbar %}

{% block content %}
<div class="container">
    {% block management_navpills %}
    {{ super() }}
    {% endblock management_navpills %}
    <!-- /.Centered Pills -->
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading clearfix">
            <h4 class="pull-left">Все заявки</h4>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width:1%">№</th>
                        <th style="width:25%">Название
                            <a href="#">
                                <span class="glyphicon glyphicon-sort" id="small-icon" title="Отсортировать по наименованию"></span>
                            </a>
                        </th>
                        <th style="width:25%">
                            Конкурс
                        </th>
                        <th style="width:25%">
                            Статус
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td><a href="#">{{ application.name }}</a></td>
                        <td>{{ application.competition.name }}</td>
                        <td>{{ application.status_display }}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>

        <div class="panel-footer clearfix">
            <div class="dropdown pull-left">
                    Всего записей: 3 
                    <br>
                    Показывать по
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    <span>10 записей</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Показать на странице</li>
                    <li>
                        <a href="#">10 записей</a>
                    </li>
                    <li>
                        <a href="#">25 записей</a>
                    </li>
                    <li>
                        <a href="#">50 записей</a>
                    </li>
                </ul>
            </div>
            <ul class="pagination pull-right hidden-xs">
                <li class="disabled">
                    <a href="#">Назад</a>
                </li>
                <li class="disabled">
                    <a href="#">Далее</a>
                </li>
            </ul>
            <ul class="pagination pull-right visible-xs">
                <li class="disabled">
                    <a href="#">«</a>
                </li>
                <li class="disabled">
                    <a href="#">»</a>
                </li>
            </ul>
        </div>

    </div>

</div>
<!-- /.container -->
{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}