{% extends "base.html" %}
{% block title %}ЦСП УГТУ - Конкурсы{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block navbar %}
    {{ super() }}
{% endblock navbar %}

{% block content %}

<div class="container">
{% block navpills %}
    {{ super() }}
{% endblock navpills %}
        
    <div class="panel panel-default">
        <h3>{{ competition.name }}</h3>
        <p>{{ competition.brief_description }}</p>
        <p>{{ competition.full_description | safe  }}</p>
        <hr>
        <ul>
        {% for competition_file in competition_files %}
            <li>
                <p><a href="{{ competition_file.absolute_url }}" download="{{ competition_file.name }}">{{ competition_file.name }}</a></p>
            </li>            
        {% endfor %}
    </ul>
    </div>
    <button onclick="history.back()">Назад</button>
    <form method="POST" action="#">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <button type="submit">Подать заявку</button>
    </form>
    
</div>
<!-- /.container -->
{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}