{% extends "base.html" %}
{% block title %}ЦСП УГТУ - Вход{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block navbar %}
    {{ super() }}
{% endblock navbar %}

{% block content %}
<h1>Login page</h1>
<form method="POST" action="{{ url('login_view') }}">
    <p>
        Email:
        <input type="email" name="email">
    </p>
    <p>
        Password:
        <input type="password" name="password">
    </p>
    <p>
        <input type="submit" value="Submit">
    </p>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
</form>
<br>
<a href="{{ url('home_view') }}">home</a>
<br>
<a href="{{ url('login_view') }}">login</a>
<br>
<a href="{{ url('registration_view') }}">registraion</a>
<br>
<a href="{{ url('logout_view') }}">logout</a>
{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}