{% extends "base.html" %}
{% block title %}ЦСП УГТУ - Регистрация{% endblock %}
{% block head %}
    {{ super() }}
{% endblock head %}

{% block navbar %}
    {{ super() }}
{% endblock navbar %}

{% block content %}
<h1>Registration page</h1>
<form method="POST" action="{{ url('registration_view') }}">
    <p>
        Email:
        <input type="email" name="email">
    </p>
    <p>
        Password:
        <input type="password" name="password">
    </p>
    <p>
        First name:
        <input type="text" name="first_name">
    </p>
    <p>
        Last name:
        <input type="text" name="last_name">
    </p>

    <p>
        Patronymic:
        <input type="text" name="patronymic">
    </p>
    <p>
        <input type="submit" value="Submit">
    </p>
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">




</form>
<a href="{{ url('home_view') }}">home</a>
<br>
<a href="{{ url('login_view') }}">login</a>
<br>
<a href="{{ url('registration_view') }}">registraion</a>
<br>
<a href="{{ url('logout_view') }}">logout</a>
{% endblock content %}

{% block footer %}
    {{ super() }}
{% endblock footer %}

{% block scripts %}
    {{ super() }}
{% endblock scripts %}
