<div class="form-group">
    <label class="control-label col-sm-3" for="{{ field.id }}"><small>{{ field.name }}</small>{% if field.is_required %}<text class="text-danger" title="Обязательно для заполнения"> *</text>{% endif %}</label>
    <div class="col-sm-9">
        <input type="number" class="form-control number-input"
        min="{{ field.type_context.min }}" max="{{ field.type_context.max }}"
        name="{{ field.id }}" id="{{ field.id }}" value="{% if field.value %}{{ field.value }}{% endif %}"
        {% if field.is_required %}required><small><span class="text-warning">Обязательно для заполнения</span></small><br>
        {% else %}
        >
        {% endif %} 
        <small><span class="text-muted">{{ field.description }}</span></small>
    </div>
</div>
    