<div class="form-group">
    <label class="control-label col-sm-3" for="{{ field.id }}"><small>{{ field.name }}</small>{% if field.is_required %}<text class="text-danger" title="Обязательно для заполнения"> *</text>{% endif %}</label>
    <div class="col-sm-9">
        <select class="form-control" name="{{ field.id }}" id="{{ field.id }}"
        {% if field.is_required %}required{% endif %}>
            {% for option in field.type_context.options %}
                <option {% if field.value == option.text %}selected{% endif %}>{{ option.text }}</option>
            {% endfor %}
        </select>
        {% if field.is_required %}
        <small><span class="text-warning">Обязательно для заполнения</span></small>
        <br>
        {% endif %} 
        <small><span class="text-muted">{{ field.description }}</span></small>
    </div>
</div>
    