<div class="form-group">
    <label class="control-label col-sm-3" for="{{ field.id }}"><small>{{ field.name }}</small>{% if field.is_required %}<text class="text-danger" title="Обязательно для заполнения"> *</text>{% endif %}</label>
    <div class="col-sm-9">
        <textarea class="form-control text-area" name="{{ field.id }}" id="{{ field.id }}" rows="5"
        {% if field.is_required %}required{% endif %}>{% if field.value %}{{ field.value }}{% endif %}</textarea>
        {% if field.is_required %}<small><span class="text-warning">Обязательно для заполнения</span></small><br>{% endif %} 
        <small><span class="text-muted">{{ field.description }}</span></small>
    </div>
</div>

