<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ static('csp/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static('csp/index.css') }}">

    <title>{% block title %}{% endblock %}</title>

    {% endblock head %}
</head>
<body>
    {% block navbar %}
        {% include "navbar.html" %}
    {% endblock navbar %}
    
    {% block content %}
        {% block navpills %}
            {% include "navpills.html" %}
        {% endblock navpills %}
    {% endblock content %}
    
    {% block footer %}
        {% include "footer.html" %}
    {% endblock footer %}

    {% block scripts %}
        {% include "scripts.html" %}
    {% endblock scripts %}
</body>
</html>