<!-- Footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-left pull-left">
                <p>Email:
                    <span style="color: #111">csp@ugtu.net</span>
                </p>
                <p>Контактный телефон:
                    <span style="color:#111">8-500-123-00-12</span>
                </p>
            </div>
            <div class="col-md-4 text-center pull-right">
                <p>© 2018, ЦСП УГТУ</p>
            </div>
        </div>
</footer>
<!--/.Footer -->