<!-- Centered Pills -->
<ul class="nav nav-pills ">
    {% set href_competitions = url('competitions_view') %}
    <li class="dropdown {% if request.path == href_competitions %} active {% endif %}">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-th-list"></span>
            </span> Список конкурсов
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="{{ href_competitions }}?option=actual">
                    <span class="glyphicon glyphicon-bookmark"></span> Актуальные</a>
            </li>
            <li>
                <a href="{{ href_competitions }}?option=archive">
                    <span class="glyphicon glyphicon-book"></span> Архив</a>
            </li>
        </ul>
    </li>
    {% set href_applications = url('applications_view') %}
    <li>
        <a href="{{ href_applications }}">
            <span class="glyphicon glyphicon-file"></span> Мои заявки</a>
    </li>
    <li>
        <a href="{{ href_applications }}">
            <span class="glyphicon glyphicon-folder-open" style="margin-right: 2px;"></span> Мои проекты</a>
    </li>
    <li class="pull-right" title="Новые умедомления отсутствуют">
        <a href="{{ href_applications }}">
            <span class="text-muted"><span class="glyphicon glyphicon-bell"></span> Уведомления</span></a>
    </li>
</ul>
<br>
<!-- /.Centered Pills -->